
        body {
            background-color:#dcdcdc;
        }
        table{
            background-color:black;
        }
        table thead{
            background-color:white;
            font-size:20px;
            text-align:right;
            
        }
        table > tbody > tr > td {
            background-color:darkslategray;
            color:white;
        }

        #Visor{
            background-color:white;
        }

        h2 {
            text-align:center;
        }

        #verde {
            color: greenyellow;
        }

        #laranja {
            color: orange;
        }

 